*, *::before, *::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #E2E8F0;
    color: #4B5563;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: 18vw 1fr 1fr 18vw;
    grid-gap: 25px 10px;
}

.left-panel {
    background-color: #1992D4;
    grid-area: 1 / 1 / 11 / 2;
    padding-left: 15px;
    color: rgba(245, 245, 245, 0.95);
}

img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    filter: brightness(0) invert(90%);
}

.dashboard-header {
    font-size: 20px;
    font-weight: bold;
}


.item {
    display: flex;
    align-items: center;
}

.settings {
    padding-top: 20px;
}


.basic{
    margin-top: 20px;
}


.search-bar {
    background-color: whitesmoke;
    grid-area: 1 / 2 / 3 / 5;
    color: rgba(0, 0, 0, 0.833);
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px -3px rgba(0,0,0,0.3);
}

button {
    background-color: #1992D4;
    font-size: 10px;
    color: white;
    border: none;
    width: 60px;
    padding: 5px;
    border-radius: 30px;
}

.project-section {
    grid-area: 3 / 2 / 10 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px 20px;
}

.project {
    border-left: 7px solid #FACC15;
    background-color: #FFFFFF;
    padding-left: 10px;
    box-shadow: 0 4px 8px -3px rgba(0,0,0,0.3);
    padding: 10px;
}

.right-panel {
    grid-area: 3 / 4 / 11 / 5;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr;
    grid-gap: 15px 15px;
    margin-right: 10px;
}

.announcements {
    grid-area: 1 / 1 / 3 / 2;
    background-color: #FFFFFF;
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
}

.announcement-content:not(:last-child) {
    border-bottom: 1px solid #E5E7EB;
}

.announcement-content {
    padding-bottom: 20px;
    margin: auto;
}

.trending {
    grid-area: 3 / 1 / 5 / 2;
    background-color: #FFFFFF;
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
}

.project p,
.right-panel p,
.trending p,
.announcements p {        
    font-size: 12px;
}

.right-panel h5 {
    color: rgba(0, 0, 0, 0.833);
}

.announcements, .trending, .project {
    border-radius: 6px;
}

.project-section h3 {
    color: rgba(0, 0, 0, 0.833);
}